.about__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    max-width: 668px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    padding-top: 74px;
  }
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  list-style: none;
  padding-left: 0;
  display: grid;


  @media (min-width: $tablet-width) {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
  }
}

.about__item {
  padding-top: 50px;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}


@media (max-width: $mobile-width-only) {
  .about__item:nth-child(2n) {
    order: 1;
  }
}

.about__description {
  margin-top: 17px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  &--flower::before {
    content: " ";
    position: absolute;
    left: 8px;
    top: 12px;
    width: 33px;
    height: 38px;
    background-image: url("../img/icon-flower.svg");
  }

  &--present::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 15px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-present.svg");
  }

  &--banknote::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 15px;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-banknote.svg");
  }

  &--heart::before {
    content: " ";
    position: absolute;
    left: 7px;
    top: 19px;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-heart.svg");
  }

  &--clew::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 17px;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-clew.svg");
  }

  &--rocket::before {
    content: " ";
    position: absolute;
    left: -5px;
    top: 17px;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-rocket.svg");
  }
}
