.about__wrapper {
  @include side-margin;
  padding-top: 70px;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 675px;
  }
}

.about__title {
  @include title;
}

.about__list {
  list-style: none;
  padding-left: 0;
  display: grid;


  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

.about__item {
  padding-top: 83px;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}


@media (max-width: $mobile-width-only) {
  .about__item {
    font-size: 20px;
    line-height: 22px;
  }

  .about__item:nth-child(2n) {
    order: 1;
  }
}

.about__description {
  &--flower::before {
    content: " ";
    position: absolute;
    left: 5px;
    top: 15px;
    width: 33px;
    height: 38px;
    background-image: url("../img/icon-flower.svg");
  }

  &--present::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 55px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-present.svg");
  }

  &--banknote::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 55px;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-banknote.svg");
  }

  &--heart::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 55px;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-heart.svg");
  }

  &--clew::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 55px;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-clew.svg");
  }

  &--rocket::before {
    content: " ";
    position: absolute;
    left: 3px;
    top: 55px;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-rocket.svg");
  }
}
