.checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: $tablet-width) {
  .checkbox__list--columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .checkbox__list--columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.checkbox__chooser {
  background-color: inherit;
}

.checkbox__chooser--radio + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -5px;
  width: 40px;
  height: 40px;
  border: 2px solid $color-black-900;
  border-radius: 50%;
}

.checkbox__chooser--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -48px;
  width: 16px;
  height: 16px;
  background-color: $primary-color-300;
  border-radius: 50%;
}

.checkbox__chooser--checkbox + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -5px;
  width: 38px;
  height: 38px;
  border: 2px solid $color-black-900;
}

.checkbox__chooser--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -52px;
  width: 24px;
  height: 17px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox__chooser + label:hover::before {
  border: 2px solid $primary-color-300;
}

.checkbox__label {
  display: block;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 24px;
  position: relative;
  user-select: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 26px;
    padding: 17px;
  }
}

.checkbox__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 2/5;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/7;
  }
}

.checkbox__list--no-padding {
  list-style: none;
  padding-left: 0;
}

.checkbox__list--columns,
.checkbox__list--radio {
  padding-left: 60px;
}
