.chooser {
  @media (min-width: $tablet-width) {
    grid-column: 1/5;
  }
}

.chooser__list {
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 2/7;
  }
}

.chooser__list--columns {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.chooser__item {
  padding-left: 60px;
}

.chooser__label {
  display: block;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 24px;
  position: relative;
  user-select: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}


.chooser__input--radio + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -5px;
  width: 40px;
  height: 40px;
  border: 2px solid $color-black-900;
  border-radius: 50%;
}

.chooser__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -48px;
  width: 16px;
  height: 16px;
  background-color: $primary-color-300;
  border-radius: 50%;
}

.chooser__input__checkbox + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -5px;
  width: 38px;
  height: 38px;
  border: 2px solid $color-black-900;
}

.chooser__input__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -52px;
  width: 24px;
  height: 17px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.chooser__input + label:hover::before {
  border: 2px solid $primary-color-300;
}
