.chooser {
  @media (min-width: $tablet-width) {
    grid-column: 1/5;
  }
}

.chooser__list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 2/7;
    margin-bottom: 0;
    padding-top: 18px;
    padding-bottom: 22px;
  }
}

.chooser__list--columns {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    padding-top: 5px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.chooser__item {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 80px;
  }
}

.chooser__item:last-of-type {
  margin-bottom: 0;
}

.chooser__item--radio {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 0;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}

.chooser__item--radio:last-of-type {
  margin-bottom: 0;
}
