.contacts__wrapper {
  @include side-margin;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__item {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
}

.contacts__head {
  justify-content: flex-start;
  margin: 0;
  margin-right: 33px;

  @media (min-width: $tablet-width) {
    margin-right: 33px;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  overflow: hidden;
}

.contacts__button {
  margin: 41px 30px 39px;

  @media (min-width: $tablet-width) {
    margin: 56px auto;
  }
}
