
.control__label {
  display: block;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  //margin-bottom: 21px;
  position: relative;
  user-select: none;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 19px;
    line-height: 18px;
  }
}


.control__input--radio + label::before {
  content: "";
  position: absolute;
  left: -60px;
  width: 40px;
  height: 40px;

  border: 2px solid $color-black-900;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -77px;
    top: -17px;
    width: 51px;
    height: 51px;
  }
}

.control__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -62px;
  width: 20px;
  height: 20px;
  background-color: $primary-color-300;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -3px;
    left: -62px;
    width: 20px;
    height: 20px;
  }
}

.control__input--checkbox + label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -10px;
  width: 38px;
  height: 38px;
  border: 2px solid $color-black-900;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
    top: -16px;
    left: -80px;
  }
}

.control__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -52px;
  width: 24px;
  height: 17px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    left: -72px;
    height: 30px;
    width: 34px;
    top: -5px;
    background-size: 120%;
  }
}

.control__input + label:hover::before {
  border: 2px solid $primary-color-300;
}
