.copyright__text {
  text-decoration: none;
  color: black;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 27px;
}

.copyright__link {
  display: flex;
  align-items: center;
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
