.element {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.element__chooser {
  background-color: inherit;
}

.element__input {
  border: none;
  border-bottom: 2px solid #000000;
  background-color: inherit;
  width: 100%;
  padding: 16px 17px;
}

.element__label {
  display: block;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 24px;
  position: relative;
  user-select: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 26px;
    padding: 17px;
  }
}
