.fields {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.fields__list {
  list-style: none;
  padding-left: 0;
  padding-top: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 2/5;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
  }
}

.fields__list--contacts {
  padding-top: 0;
}

.fields__list--add {
  padding-top: 20px;
}

.fields__item {
  margin-bottom: 22px;
}

.fields__item:last-of-type {
  margin-bottom: 0;
}
