.fields {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.fields__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 2/5;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/6;
    padding-top: 18px;
  }
}

.fields__list--contacts {
  padding-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    margin-bottom: 0;
  }
}

.fields__list--mail {
  padding-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.fields__list--add {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.fields__item {
  margin-bottom: 22px;
  z-index: 1;
}

.fields__item:last-of-type {
  margin-bottom: 0;
}
