.form-area__intro {
  padding: 17px 30px 13px;
  margin: 0 auto 16px;
  max-width: 320px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 13px;
    max-width: 668px;
    margin-top: 54px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 117px;
    margin-top: 0;
    max-width: 700px;
  }
}

.form-area__form {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
