.header-wrapper {
  display: flex;
  justify-content: space-between;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.header-wrapper__logo {
  display: flex;
  height: 79px;
  padding: 0 117px;

  @media (min-width: $tablet-width) {
    order: 2;
    height: 89px;
  }
}

.header-wrapper__toggle {
  display: flex;
}
