
.header-info__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-weight: 700;
  }
}

.header-info__comment {
  text-align: right;
  height: 20px;
  margin-top: -45px;
  padding-right: 2px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.header-info__list li {
  margin-right: 45px;
}

.header-info__list li:last-child {
  margin-right: 0;
}
