.main-header {
  margin: auto;
  color: $color-black-600;
}

.main-header__layout {
  overflow: hidden;
}

.main-header__wrapper {
  @include side-margin;
}

.main-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
