.main-header-menu__list {
  // по идеи он же упирается в края, значит ему не задавать максимальную ширину?  max-width: 320px;

  @media (min-width: $tablet-width) {

    max-width: 668px;
    margin: 0 auto;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.main-header-menu__link {
  display: block;
  font-size: 19px;
  line-height: 24px;
  color: $color-white-00;
  font-weight: 700;


  &::after {
    width: 60px;
    height: 62px;
    position: absolute;
    left: calc(50% + 73px);
    top: 23px;
    content: "";
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 300px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      right: 28px;
      left: auto;
      top: 30px;
    }
  }
}

.main-header-menu__link--toys {
  background-color: $primary-color-500;
  position: relative;

  &::after {
    background-image: url("../img/toy.svg");
    opacity: 0.5;
    right: 33px;
  }
}

.main-header-menu__link--interior {
  position: relative;
  background-color: $primary-color-200;

  &::after {
    background-image: url("../img/interior.svg");
    opacity: 0.5;
  }
}

.main-header-menu__link:hover {
  transition: margin-top 0s ease-in-out 0s;
  margin-top: -5px;

  &::after {
    opacity: 0.7;
  }
}

.main-header-menu__link:active {
  &::after {
    opacity: 0.3;
  }
}

.main-header-menu__link--interior:hover {
  background-color: $primary-color-350-hover;
}

.main-header-menu__link--toys:hover {
  background-color: $primary-color-600-hover;
}

.main-header-menu__text {
  padding: 24px 130px 31px 30px;
  display: block;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: none;
    padding: 25px 115px 34px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 310px 34px 37px;
  }
}
