.main-header {
  margin: auto;
  color: $color-black-600;
  background-color: $color-lightgrey-150;
  background-image: url("../img/house.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header__layout {
  padding-bottom: 120px;
  padding-top: 73px;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    padding-bottom: 491px;
    padding-top: 155px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    padding-bottom: 474px;
    padding-top: 158px;
  }
}

.main-header__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: auto;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
