.main-header-menu {
  display: block;
}

.main-header-menu__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $basic-background;
  min-height: 100px;
}

.main-header-menu__item--interior {
  position: relative;
  background-color: $light-back-heads;

  &::after {
    width: 40px;
    height: 62px;
    position: absolute;
    right: 36px;
    top: 30px;
    background-image: url("../../../source/img/interior.svg");
    content: "";
  }
}

.main-header-menu__item--toys {
  background-color: $dark-back;
}
