.main-header-menu {
  display: block;
}

.main-header-menu__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $color-white-00;
  min-height: 100px;

  &::after {
    width: 40px;
    height: 62px;
    position: absolute;
    right: 36px;
    top: 30px;
    content: "";
  }
}

.main-header-menu__item--interior {
  position: relative;
  background-color: $primary-color-200;

  &::after {
    background-image: url("../img/interior.svg");
  }
}

.main-header-menu__item--toys {
  background-color: $primary-color-500;
  position: relative;

  &::after {
    background-image: url("../img/toy.svg");
    width: 60px;
    height: 60px;
  }
}

.main-header-menu__link {
  padding: 24px 160px 31px 30px;
  font-size: 20px;
  line-height: 30px;
  color: $color-white-00;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding: 25px 167px 34px 36px;
  }
}
