.manufacture-process {
  position: relative;
  z-index: 1;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
  border: 1px solid $color-lightgrey-250;
  margin-bottom: 57px;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 668px;
    margin-bottom: 69px;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    margin-bottom: 103px;
    border: 1px solid $color-lightgrey-250;
    padding: 0;
    margin-top: 55px;
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-column-gap: 80px;
  }
}

.manufacture-process:hover {
  @media (max-width: $mobile-width-only) {
    box-shadow: 0 6px 10px rgba($color-black-900, 0.1);
  }
}


.manufacture-process::after {
  @media (min-width: $tablet-width) {
    display: block;
    z-index: -1;
    position: absolute;
    content: "";
    background-color: inherit;
    left: 0;
    top: 455px;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 679px;
  }
}

.manufacture-process:hover::after {
  box-shadow: 0 6px 10px rgba($color-black-900, 0.1);
}

.manufacture-process__title {
  position: relative;
  padding: 7px 13px 27px 90px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding: 45px 5px 25px 107px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 96px 50px 28px 0;
  }
}

.manufacture-process__title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 22px;
  left: 33px;
  top: 19px;
  background-image: url("../img/camera.svg");

  @media (min-width: $tablet-width) {
    left: 42px;
    top: 42px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    top: 45px;
  }
}


.manufacture-process__video {
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.manufacture-process__video-background {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: auto;
  }
}

.manufacture-process__button {
  margin: 34px;

  @media (min-width: $tablet-width) {
    width: 586px;
    margin: 40px auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 230px;
    margin: 0;
    margin-bottom: 60px;
    margin-top: 4px;
  }
}

.manufacture-process__descript {
  font-size: 13px;
  line-height: 24px;
  margin: 30px 28px 40px 34px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    max-width: 586px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0;
    width: 230px;
    margin: 0;
  }
}

.manufacture-process__picture {
  display: block;
}
