.map {
  background-image: url("../img/map-mobile.jpg");

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");
  }
}
