.page-header {
  background-color: $color-white-00;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $color-white-00 89px, #e0e0e0e0 89px, #f1f1f1 90px, #f1f1f1 90px);
  }
}

.page-header--picture-main-background {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $color-white-00 89px, #e0e0e0e0 89px, #f9f9f9 90px, #f9f9f9 90px);
  }
}

.page-header__toggle-navigate {
  justify-items: end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__main-nav {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.page-header__info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    left: calc(50% - 12px);
    width: 348px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: static;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
  }
}
