.page-main__header {
  background-color: $color-lightgrey-200;
}

.page-main__wrapper {
  @include side-margin;
}

.page-main__title {
  padding-top: 70px;
  padding-bottom: 74px;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 20px;
    padding-bottom: 94px;
  }
}
