.page__header {
  display: flex;
  flex-direction: column;
  width: 320px;

  @include border;
}

.page__header .logo {
  display: flex;
  justify-content: flex-end;
  padding: 22px 116px;
}

.page__header .main-nav__toggle {
  display: block;
}
