.page-footer {
  background-color: $color-lightgrey-200;
}

.page-footer__wrapper {
  @include side-margin;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
    max-width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social {
  border-bottom: 1px solid $color-lightgrey-300;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 59px;
  padding-right: 59px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 39px 23px 39px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
