.page-main__header {
  background-color: $color-lightgrey-200;
}

.page-main__wrapper {
  @include side-margin;
}

.page-main__title {
  position: relative;
  padding-top: 70px;
  padding-bottom: 74px;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 42px;
    padding-bottom: 94px;
  }
}

.page-main__title::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/zigzag-wave.svg");
    bottom: -11px;
    height: 25px;
    right: 0;
    left: 0;
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 24px;
  }

  @media (min-width: $desktop-width) {
    height: 37px;
    background-size: auto 34px;
    bottom: -15px;
  }
}
