.page-footer {
  background-color: $color-lightgrey-200;
}

.page-footer__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 30px 15px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
    padding-top: 28px;
    max-width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding-bottom: 35px;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 25px;
    padding-left: 0;
    color: $color-black-900;
  }
}

.page-footer__logo:hover {
  color: $primary-color-600;
}

.page-footer__logo:active {
  color: $primary-color-600;
  opacity: 0.3;
}

.page-footer__social {
  border-bottom: 1px solid $color-lightgrey-300;
  width: 260px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    border: none;
    width: 359px;
  }

  @media (min-width: $desktop-width) {
    width: 740px;
    padding-right: 35px;
  }
}


.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 15px 0 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 17px;
  }
}
