.product-item {
  display: grid;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $color-lightgrey-300;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 316px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 316px;
    justify-content: space-between;
  }
}

.product-item__blank {
  background-color: transparent;
}

.product-item__title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  color: $color-black-900;
}

.product-item__property {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding-top: 7px;
  }
}

.product-item__description {
  display: grid;
  padding: 27px;
  margin-top: -5px;


  @media (min-width: $tablet-width) {
    padding: 26px 32px 30px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 27px 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.product-item__buy {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid #ececec;
  margin-top: 18px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.product-item__img {
  @media (min-width: $tablet-width) {
    height: 100%;
    width: auto;
  }
}
