.product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-lightgrey-300;
  margin-bottom: 30px;
}

.product-item__title {
  display: flex;
  order: 1;
  font-size: 17px;
  line-height: 1.4;
  padding: 25px 5px 5px 28px;
  flex-wrap: wrap;
  margin: 0;
}

.product-item__description {
  display: flex;
  order: 2;
  font-size: 13px;
  line-height: 2.3;
  margin: 5px 28px 5px 28px;
  padding: 0;
  flex-wrap: wrap;
}

.product-item__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 3;
  margin: 17px 28px 27px 28px;
}
