.size-chooser {
  padding-top: 10px;
  padding-bottom: 31px;
  display: flex;


  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}


.size-chooser__label {
  display: block;
  width: 83px;
  height: 53px;
  padding: 19px 0;
  margin-right: 7px;
  color: $color-black-900;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid $color-lightgrey-300;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 113px;
  }
}

.size-chooser__label:last-of-type {
  margin-right: 0;
}

.size-chooser__item:checked + .size-chooser__label {
  border: 2px solid $primary-color-300;
}
