.size-chooser {
  padding-top: 20px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.size-chooser__item {
  display: none;
}

.size-chooser__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 18px 37px;
}

.size-chooser__item + label::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  width: 112px;
  height: 52px;
  margin: 0;
  cursor: pointer;
  border: 2px solid $color-lightgrey-300;
}

.size-chooser__item:checked + label::before {
  border: 2px solid $primary-color-300;
}
