.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid $border;
  box-sizing: border-box;
  background: url("../../img/arrow-left.svg") 50% 50% no-repeat;

  &--next {
    background: url("../../img/arrow-right.svg") no-repeat 50% 50%;
  }
}
