.text-field {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
}

.text-field:hover .text-field__input-svg {
  color: $primary-color-200;
}

.text-field__label {
  display: block;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  user-select: none;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
    font-size: 19px;
  }
}

.text-field__input {
  border: none;
  border-bottom: 2px solid $color-black-900;
  background-color: inherit;
  width: 100%;
  padding: 16px 5px 13px 0;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }
}

.text-field__input--wide-text {
  padding-bottom: 17px;
}

.text-field__input-svg {
  position: absolute;
  bottom: 16px;
  right: 6px;
  color: rgba($color-black-900, 0.2);
  z-index: -1;

  @media (min-width: $tablet-width) {
    right: 23px;
  }

  @media (min-width: $desktop-width) {
    right: 7px;
  }
}

.text-field__input-svg--mail {
  right: 3px;

  @media (min-width: $tablet-width) {
    right: 21px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.text-field__input:hover {
  border-color: $primary-color-300;
}

.text-field__input:focus {
  border-color: $primary-color-300;
}

.text-field__input--add-area {
  font-family: $font-family;
  border: 2px solid $color-black-900;
  padding: 15px 17px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    line-height: 18px;
  }
}

.text-field__input:active .text-field__input-svg {
  color: $primary-color-200;
}

.element__label {
  display: block;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 24px;
  position: relative;
  user-select: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: 0;
    padding-left: 0;
  }
}
