.user-nav {
  list-style: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid $color-lightgrey-300;


  @media (min-width: $tablet-width) {
    display: flex;
    border: none;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.user-nav__item {
  position: relative;
  border-bottom: 1px solid $color-lightgrey-300;

  @media (min-width: $tablet-width) {
    display: flex;
    border: none;
  }
}

.user-nav__item a:hover {
  opacity: 0.6;
}

.user-nav__item a:hover .user-nav__icon {
  fill: #63d1bb;
}

.user-nav__item a:active {
  opacity: 0.3;
}


.user-nav__item a:active .user-nav__icon {
  opacity: 0.3;
  fill: #63d1bb;
}

.user-nav__cart {
  max-width: 260px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $color-black-900;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.user-nav__search {
  max-width: 260px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $color-black-900;
  text-decoration: none;


  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-right: 45px;
  }
}

.user-nav__link-text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-nav__icon {
  opacity: 0.2;
  position: absolute;
  top: 32px;
  left: calc(50% - 130px);
}
