.video__button {
  border: none;
  position: absolute;
  height: 77px;
  width: 101px;
  top: 37px;
  left: 80px;
  background-image: url("../img/play.svg");
  background-color: transparent;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    height: 78px;
    width: 102px;
    top: 189px;
    left: 283px;
  }
}
