.video__button {
  border: none;
  background-color: transparent;
  position: absolute;
  padding: 0;
  top: 37px;
  left: 80px;

  @media (min-width: $tablet-width) {
    top: 189px;
    left: 283px;
  }
}
