$color-white-00: #ffffff;
$color-lightgrey-200:#f1f1f1;
$color-lightgrey-250:#ececec;
$color-lightgrey-300:#e5e5e5;
$color-lightgrey-150:#fbfbfb;
$color-lightgrey-160:#f9f9f9;

//black
$color-black-600:#444444;
$color-black-900: #000000;
//color
$primary-color-200:#63d1bb;
$primary-color-300:#62d1ba;
$primary-color-500:#56c3b2;
$primary-color-550:#46c1ae;


//font
$font-family: "Open Sans", "Arial", sans-serif;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

@mixin side-margin {
  margin-left: 30px;
  margin-right: 30px;
}

@mixin title {
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
}
